*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: column  ;
    background-color: #fff5ee;
}
.container-cabecalho{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    flex-direction: row;
    background-color: darkslategray;
    width: 100%;
    max-height: 30%;
    position: fixed;

}
.item-cabecalho:nth-child(1){
    flex-basis: 20%;
    align-self: center;
    margin: 1rem;
}
.item-cabecalho:nth-child(1) img{
    width: 2rem;
}
.item-cabecalho:nth-child(2){
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    text-align: center;
    flex-basis: 60%;
    color: #fff5ee;
    position:static;
    margin: 1rem;
}
.item-cabecalho:nth-child(3){
    text-align: center;
    flex-basis: 20%;
    background-color: seashell;
    color:darkslategray;
    padding: 0.5rem ;
    border: slategray;
    margin: 1rem;
    border-radius:10px 0%;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0 1em dimgray, inset 0 0 1em darkslategrey;
   

}
.container-principal{
    font-family: 'Courier New', Courier, monospace; 
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.photo{
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-photo:nth-child(1) img{

    align-self: stretch;
    margin-bottom: 1rem;
    width: 100%;
}
.item-photo:nth-child(2) img{
    border-radius: 100%;
    overflow: hidden;
}
.subsection{
    margin: 2rem;
}
.item-descricao{
    margin: 1rem;
}
.item-descricao:nth-child(1){
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.item-descricao:nth-child(2){
    font-family: 'Dancing Script', cursive;
   color: darkslategray;
    text-align: left;
    font-size: 36px;
}
.subsection:nth-child(2) .item-descricao{
    font-family: 'Dancing Script', cursive;
    margin: 2rem;
    font-size: 30px;
    text-align: center;
    color: darkslategray;
    
}
.subsection p{
    text-align: justify;
    color:lightslategrey;
}
.aluguel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: baseline;

}
.item-aluguel{
    flex-basis: 50%;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    background-color: #FFA07A;
    box-shadow: 0 0 1em #FFDAB9;
}
.container-rodape{
    font-family: 'Courier New', Courier, monospace;
    text-shadow: #FFDAB9;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:lightslategray;
    color:seashell ;
    margin-top: 2rem;

}
.item-info:nth-child(n){
    padding: 0.5rem;
}
.redesSociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.rede{
    font-size: 24px;
    margin: 1rem;
    padding: 10px;
    color: seashell;
    border: 1px solid ;
    border-radius: 100%;
}
.rede a{
    color: seashell;
}

@media screen and (max-width:992px){

    .container-cabecalho{
        justify-content: center;
    }
    .item-cabecalho:nth-child(3){
        display: none;
    }
    .item-cabecalho:nth-child(1){
        display: none;
    }
}